h1 {
  font-size: 30px;
  height: 10vh;
}

h2 {
  color: darkslategrey;
}

body {
  background-color: whitesmoke;
  height: 80vh;
}

.card-header {
  font-size: 20px;
  font-weight: bolder;
}

footer {
  height: 10vh;
  background-color: grey;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
